<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>營運儀錶板</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>

</head>
<body>
    <nav class="navbar">
        <div class="customer">
            <a href="{{ url_for('customer') }}"><p>客戶管理</p></a>
        </div>
        <div class="purchase">
            <a href="{{ url_for('purchase') }}"><p>交易管理</p></a>
        </div>
        <div class="promotion">
            <a href="{{ url_for('marketing') }}"><p>行銷管理</p></a>
        </div>
        <div class="sales">
            <a href="{{ url_for('sales') }}"><p>銷售管理</p></a>
        </div>
        <div class="kpi">
            <a href="{{ url_for('kpi') }}"><p>績效管理</p></a>
        </div>
    </nav>

    <main>
        <section class="section-top">
            <div class="bgc1">
                <div class="bgc1-top" style=" background-color: #fff;">

                    <div class="bgc-top">
                        <p>Q4銷售額</p>
                        <img src="{{ url_for('static', filename='img/more.png') }}" alt="">
                    </div>
                        
                    <div class="bgc-top-buttom">

                        <div class="top-left">
                            <img src="{{ url_for('static', filename='img/coin (2).png') }}" alt="">
                            <span>$</span>
                            <span>{{ total_price }}</span>
                        </div>

                        <div class="top-right">
                            <img src="{{ url_for('static', filename='img/stocks.png') }}" alt="">
                            <p> {{ percentage_change }}%</p>    
                        </div>

                    </div>

                </div>

                <div class="bgc1-buttom">

                    <div class="bgc1-left">
                        <!--圖表-->
                        <canvas id="stacked-bar-chart"></canvas>
                        <script>
                            var chartData = JSON.parse('{{ chart_data_json_str|safe }}');
                            
                            var ctx = document.getElementById('stacked-bar-chart').getContext('2d');
                            new Chart(ctx, {
                                type: 'bar',
                                data: chartData,
                                options: {
                                    scales: {
                                        x: {
                                            stacked: true
                                        },
                                        y: {
                                            stacked: true
                                        }
                                    },
                                    plugins: {
                                        legend: {
                                            display: true,
                                            position: 'top'
                                        }
                                    },
                                    responsive: true,
                                    maintainAspectRatio: false
                                }
                            });
                        
                            // 設定長條的不同顏色
                            chartData.datasets.forEach(function(dataset, index) {
                                var colors = ['#1556A1', '#A155B9', '#F765A3', '#FDAEAE', '#899DD0', 'rgba(255, 159, 64, 0.5)', 'rgba(54, 162, 235, 0.5)', 'rgba(255, 99, 132, 0.5)', 'rgba(75, 192, 192, 0.5)'];
                                dataset.backgroundColor = colors[index % colors.length];
                                dataset.borderColor = colors[index % colors.length];
                            });

                            // 移除圖例的 "Product" 字樣
    chartData.datasets.forEach(function(dataset) {
        dataset.label = dataset.label.replace('Product ', '');
    });
                        </script>
                        
                    </div>

                    <div class="bgc1-right">
                        <!--圖表-->
                        <canvas id="chart" width="400" height="400"></canvas>

                        <script>
                            var chartData = {{ chart_json|safe }};
                        
                            // 修改图例标签
                            chartData.datasets.forEach(function(dataset) {
                                dataset.label = '商品銷售額'; // 将 '新标签' 替换为您想要的标签
                            });
                        
                            var ctx = document.getElementById('chart').getContext('2d');
                            new Chart(ctx, {
                                type: 'line',
                                data: {
                                    labels: chartData.labels,
                                    datasets: chartData.datasets,
                                },
                                options: {
                                    scales: {
                                        y: {
                                            ticks: {
                                                beginAtZero: true,
                                                stepSize: 2
                                            }
                                        }
                                    }
                                }
                            });
                        </script>
                        
                    </div>

                </div>
                    
            </div>

            <div class="bgc2">
                <div class="bgc1-top" style=" background-color: #fff;">

                    <div class="bgc-top">
                        <p>Q4目標銷售額</p>
                        <img src="{{ url_for('static', filename='img/more.png') }}" alt="">
                    </div>

                    <div class="top-left">
                        <img src="{{ url_for('static', filename='img/target.png') }}" alt="">
                        <span>$</span>
                        <span>{{total_sell_target}}</span>
                    </div>

                </div>

                <div class="bgc1-buttom">
                    
                    <div class="bgc2-left">
                        <h3 style="text-align: center;">業績達成率:{{ achievement_rate }}%</h3>
                        <!--圖表-->
                        <div class="chart-container">
                            <canvas id="PercentChart"></canvas>
                        </div>
                        <style>
                            .chart-container {
                                margin-top: 50px; /* 调整此值以向下移动图表 */
                                height: 250px;  /* 调整此值以调整图表的高度 */
                            }
                        </style>

                        <script>
                            
                            var ctx = document.getElementById('PercentChart').getContext('2d');
                            var achievement_rate = "{{ achievement_rate }}";
                            var data = {
                                labels: ['業績達成率'],
                                datasets: [{
                                    data: [achievement_rate, 100 - achievement_rate],
                                    backgroundColor: ['#AD7DBE', '#FFFFFF']
                                }]
                            };
                            var options = {
                                cutoutPercentage: 50,
                                // 可以在这里设置環形圖的样式和交互行为
                            };
                            var myChart = new Chart(ctx, {
                                type: 'doughnut',
                                data: data,
                                options: options
                            });
                    
                            // 添加業績達成率百分比数值
                            var centerLabelPlugin = {
    afterDraw: function(chart) {
        var width = chart.chart.width,
            height = chart.chart.height,
            ctx = chart.chart.ctx;

        var fontSize = (height / 100).toFixed(2);
        ctx.font = fontSize + "em sans-serif";
        ctx.textBaseline = "middle";
        ctx.fillStyle = '#000000'; // 设置百分比数值的颜色，这里使用黑色

        var achievement_rate = parseFloat("{{ achievement_rate }}").toFixed(2); // 将業績達成率转换为浮点数并保留两位小数
        var textX = Math.round((width - ctx.measureText(achievement_rate + "%").width) / 2);
        var textY = height / 2;

        ctx.fillText(achievement_rate + "%", textX, textY);
    }
};
Chart.pluginService.register(centerLabelPlugin);
                        </script>
                    </div>

                    <div class="bgc2-right">
                        <h3 style="text-align: center;">員工績效</h3>
                        <!--圖表-->
                        <style>
                            .chart-container {
                              margin-top: 20px; /* 根据需要调整垂直方向的距离 */
                            }
                          </style>
                          
                          <!-- 在合适的位置应用样式到图表容器元素 -->
                          <div class="chart-container">
                            <canvas id="mixed-chart"></canvas>

                          </div>

                        <script>
                           var chartData = {{ chart_data|safe }};
                            
                            // 資料處理
                            var labels = chartData.map(function(item) { return item[0]; });
                            var orderNumData = chartData.map(function(item) { return item[1]; });
                            var sellMoneyData = chartData.map(function(item) { return item[2]; });
                        
                            // 繪製混合圖表
                            var ctx = document.getElementById('mixed-chart').getContext('2d');
                            new Chart(ctx, {
                                type: 'bar',
                                data: {
                                    labels: labels,
                                    datasets: [{
                                        label: '客戶數',
                                        data: orderNumData,
                                        yAxisID: 'orderNumAxis',  // 使用指定的 Y 軸
                                        type: 'line',  // 折線圖
                                        fill: false,
                                        borderColor: '#295BA4',
                                        backgroundColor: '#295BA4'
                                    }, {
                                        label: '銷售額',
                                        data: sellMoneyData,
                                        yAxisID: 'sellMoneyAxis',  // 使用指定的 Y 軸
                                        type: 'bar', // 長條圖
                                        backgroundColor: '#899DD0'
                                    }]
                                },
                                options: {
                                    responsive: true,
                                    scales: {
                                        orderNumAxis: {
                                            type: 'linear',
                                            position: 'left',
                                            beginAtZero: true,
                                            ticks: {
                                                stepSize: 1
                                            },
                                            scaleLabel: {
                                                display: true,
                                                labelString: 'Order Number'
                                            }
                                        },
                                        sellMoneyAxis: {
                                            type: 'linear',
                                            position: 'right',
                                            beginAtZero: true,
                                            ticks: {
                                                stepSize: 100
                                            },
                                            scaleLabel: {
                                                display: true,
                                                labelString: 'Sales Money'
                                            }
                                        }
                                    },
                                    plugins: {
                                        datalabels: {
                                            align: 'end',
                                            anchor: 'end',
                                            offset: 4,
                                            font: {
                                                size: 10
                                            },
                                            formatter: function(value, context) {
                                                var datasetLabel = context.dataset.label || '';
                                                return datasetLabel + ': ' + value;
                                            }
                                        }
                                    }
                                }
                            });
                        </script>
                        
    
                    </div>

                </div>
            </div>
            
        </section>

        <section class="section-buttom">
            <div class="bgc3">

                <div class="bgc3-left">

                    <div class="bgc3-txt">
                        <p>Q4公共按摩椅據點營收</p>
                    </div>

                    <div class="bgc3-chart">
                        <!--圖表-->
                        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4"></script>
                        <canvas id="publicchart"></canvas>

<script>
    var data = {{ data | tojson | safe }};
    var placeLabels = {{ placeLabels | tojson | safe }};
    var rentMoneySumData = {{ rentMoneySumData | tojson | safe }};
    var totalMoneySumData = {{ totalMoneySumData | tojson | safe }};

    var ctx = document.getElementById('publicchart').getContext('2d');
    var chart = new Chart(ctx, {
        type: 'horizontalBar',
        data: {
            labels: placeLabels,
            datasets: [{
                label: '應付租金',
                data: rentMoneySumData,
                backgroundColor: '#899DD0',
                borderColor: '#899DD0',
                borderWidth: 1
            },
            {
                label: '營業額',
                data: totalMoneySumData,
                backgroundColor: '#AD7DBE',
                borderColor: '#AD7DBE',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                xAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
</script>

                    </div>

                </div>

                <div class="bgc3-right">

                    <div class="bgc3-txt">
                        <p>顧客分析</p>
                    </div>

                    <div class="bgc3-chart">
                        <!--圖表-->
                        <canvas id="lastChart"></canvas>

                        <script>
                            // 從Python傳遞的資料
                            var data = JSON.parse('{{ data_json|safe }}');
                    
                            // 擷取x軸和y軸的數據
                            var labels = data.map(function(item) {
                                return item.ticketName;
                            });
                    
                            var useTimes = data.map(function(item) {
                                return item.UseTime;
                            });
                    
                            // 使用Chart.js繪製折線圖
                            var ctx = document.getElementById('lastChart').getContext('2d');
                            var chart = new Chart(ctx, {
                                type: 'line',
                                data: {
                                    labels: labels,
                                    datasets: [{
                                        label: '使用次數',
                                        data: useTimes,
                                        borderColor: '#899DD0',
                                        backgroundColor: 'rgba(0, 0, 255, 0.2)',
                                        fill: false
                                    }]
                                },
                                options: {
                                    responsive: true,
                                    scales: {
                                        y: {
                                            beginAtZero: true
                                        }
                                    }
                                }
                            });
                        </script>
                    </div>
                    
                </div>

            </div>


        </section>
    </main>

    
</body>
</html>